.notifications{
    display:flex;
    flex-wrap:wrap;
    --app_padding:.5rem;
    padding:var(--app_padding);
  }

.top_notification_container{
    display:flex;
    justify-content: space-between;
}

.notification_element{
    padding-right:1rem;
}

.notification_element textarea{
    width:8.5rem;
    height:3rem;
}


.notification_element_holder{
    width:21rem;
    padding:.5rem;
    margin:.5rem;
    background:#2149b3;
    color: #f9f8f8;
  }
.notification_element_holder.not_submitted{
  background:#d8d42a;
  color:black;
}

  .add_notification_button{
      /* background-color: #6273a0; */
    margin:.5rem;
  }

  .edit_holder{
    display:flex;
    flex-wrap: wrap;
  }

  .submit_button{
    background-color: white;
    transition: background-color 0.1s linear;
  }