html, body {margin: 0; height: 100%;}
body{
  --drew_white: #f9f8f8;
  --drew_blue: #2149b3;
}

#root{
  height:100%;
  width:100%;
}

#app{
  --top_bar_height: 2rem;
  height:100%;
  width:100%;
  display: grid;
  grid-template: var(--top_bar_height) calc(100% - var(--top_bar_height)) / auto;
}

#TopBar{
  width: calc(100% - .5rem - .5rem);
  height: var(--top_bar_height);
  padding: .5rem;
  background-color: var(--drew_blue);
  display: flex;
  color: var(--drew_white);
  z-index: 5;
}
#TopBar > *{
  margin: .25rem .5rem .25rem .5rem;
}
#TopBar > input{
  height: 1rem;
}

.notifications{
    /* height: calc( 100% - var(--top_bar_height) ); */
    height:auto;
    --app_padding:.5rem;
    /* padding: 0px; */
    padding: var(--app_padding);
    overflow-y:scroll;
    margin-top: .5rem;
  }

.notifications_scroll_wrapper{
  width: 100%;
  display:flex;
  flex-wrap:wrap;

}

.top_notification_container{
    display:flex;
    justify-content: space-between;
}

.notification_element{
    padding-right:1rem;
}

.notification_element textarea{
    width:8.5rem;
    height:3rem;
}


.notification_element_holder{
    width:21rem;
    padding:.5rem;
    margin:.5rem;
    background:#2149b3;
    color: #f9f8f8;
  }
.notification_element_holder.not_submitted{
  background:#d8d42a;
  color:black;
}

  .add_notification_button{
      /* background-color: #6273a0; */
    margin:.5rem;
  }

  .edit_holder{
    display:flex;
    flex-wrap: wrap;
  }

  .submit_button{
    background-color: white;
    transition: background-color 0.1s linear;
  }